<section class="edit-product p-4" style="width:100%;">
    <form id="editForm" enctype="multipart/form-data">
        <a href="/admin/products" class="txt-decoration-null"><i class="fa-solid fa-left-long"></i>Products</a>
        <section class="header d-flex justify-content-between pe-4">
            <h3>Product Edit</h3>
            <input type="submit" class="btn btn-primary px-5" value="save">
        </section>
        <section class="body row py-3">
            <input type="hidden" value="{{product.secondary_img.length}}" id="sec-img-length">
            <div class="left-side col-sm-5 ">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="field-header">
                            <p class="fw-bold">Price details</p>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="inputtext3" class="col-sm-2 col-md-4 col-form-label">Actual Price</label>
                            <div class="col-sm-10 col-md-8">
                                <input type="text" class="form-control" name="prod_price" id="inputtext3"
                                    value="{{product.prod_price}}" required>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="inputtext3" class="col-sm-2 col-md-4 col-form-label">Selling Price</label>
                            <div class="col-sm-10 col-md-8">
                                <input type="text" class="form-control" id="inputtext3" name="sellig_price"
                                    value="{{product.sellig_price}}" placeholder="text" required>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="inputtext3" class="col-sm-2 col-md-4 col-form-label">GST</label>
                            <div class="col-sm-10 col-md-8">
                                <input type="text" class="form-control" id="inputtext3" placeholder="text" name="GST"
                                    value="{{product.GST}}" required>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="field-header">
                            <p class="fw-bold">Visibility status</p>
                        </div>
                        <div class="form-group row">
                            <select class="form-select" name="product_status" value=""
                                aria-label="Default select example">
                                {{#if product.product_status}}
                                <option value="true">List</option>
                                <option value="false">Unlist</option>
                                {{else}}
                                <option value="false">Unlist</option>
                                <option value="true">List</option>
                                {{/if}}
                            </select>
                        </div>

                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="primary-img row">
                            <label for="inputtext3" class="col-sm-2 col-md-12 col-form-label mb-2">Primary Image</label>
                            <img src="/Images/Products/{{product.primary_img.filename}}"
                                id="img{{product.primary_img.filename}}" alt="" style="width:70px;" class="col-md-3">
                            <div class="col-sm-10 col-md-9">
                                <input type="file" accept=".jpeg,.png,.jpg,.webp" class="form-control prod-img"
                                    id="{{product.primary_img.filename}}"
                                    onchange="previewImg(event,'primary_img','primary_img')" name="primary_img">
                            </div>
                        </div>
                        <div class="secondary-img row">

                            <label for="inputtext3" class="col-sm-2 col-md-10 col-form-label mb-2">secondary
                                Images</label>
                            <div class="btn col-md-2" onclick="addSecImage()"><i class="fa-solid fa-plus"></i></div>
                            <div class="sec-img-err text-danger"></div>
                            {{#each product.secondary_img}}<img src="/Images/Products/{{this.filename}}" alt=""
                                id="img{{this.filename}}" style="width:70px;" class="col-md-3 mb-2">
                            <div class="col-sm-10 col-md-9 d-flex align-self-start">
                                <input type="file" accept=".jpeg,.png,.jpg,.webp" class="form-control mb-2 prod-img"
                                    id="{{this.filename}}" onchange="previewImg(event,'{{this._id}}','secondary_img')"
                                    name="secondary_img">
                                <i class="fa-solid fa-delete-left m-3"
                                    onclick="deleteImg('{{this._id}}','secondary_img','{{this.filename}}')"></i>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-side col-sm-7 ">
                <div class="card mb-3">
                    <div class="form-group card-body row mb-3">
                        <div class="field-header">
                            <p class="fw-bold">Basic Information</p>
                        </div>
                        <div class="col-sm-10 col-md-12 mb-3">
                            <label for="inputtext3" class="col-sm-2 col-md-4 col-form-label">Product Name</label>
                            <input type="text" class="form-control" name="product_name" value="{{product.product_name}}"
                                id="inputtext3" placeholder="text" required>
                        </div>
                        <div class="col-sm-10 col-md-12 mb-3">
                            <label for="inputtext3" class="col-sm-2 col-md-4 col-form-label">Brand Name</label>
                            <input type="text" class="form-control" id="inputtext3" value="{{product.brand_name}}"
                                name="brand_name" placeholder="text" required>
                        </div>
                        <div class="col-sm-10 col-md-6 mb-3">
                            <label for="inputtext3" class="col-sm-2 col-md-4 col-form-label">Category</label>
                            <select class="form-select" name="category" aria-label="Default select example">
                                <option value="{{product.category._id}}" selected>{{product.category.cat_name}}</option>
                                {{#each category}}<option value="{{this._id}}">{{this.cat_name}}</option>{{/each}}
                            </select>
                        </div>
                        <div class="col-sm-10 col-md-6 mb-3">
                            <label for="inputtext3" class="col-sm-2 col-md-4 col-form-label">Stock</label>
                            <input type="text" class="form-control" id="inputtext3" placeholder="text"
                                value="{{product.stock}}" name="stock" required>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="{{product._id}}" id="userId">
                <div class="card">
                    <div class="form-group card-body row mb-3 spec-wraper">
                        <div class="field-header d-flex justify-content-between">
                            <p class="fw-bold">Specification</p><i class="fa-solid fa-plus"
                                onclick="addSpecField()"></i>
                        </div>
                        {{#each product.specification}}
                        <div class="col-sm-12 col-md-5 mb-3" id="spec-{{this.spec}}">
                            <input type="text" class="form-control" name="spec" value="{{this.spec}}" id="inputtext3"
                                placeholder="specification" required>
                        </div>
                        <div class="col-sm-12 col-md-6 mb-3" id="val-{{this.spec}}">
                            <input type="text" class="form-control" name="val" value="{{this.val}}" id="inputtext3"
                                placeholder="value" required>
                        </div>
                        <i class="fa-regular fa-circle-xmark text-danger col-md-1 mt-2" id="btn-{{this.spec}}"
                            onclick="deleteSpec('{{this.spec}}')"></i>

                        {{/each}}
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-body">
                        <div class="field-header">
                            <p class="fw-bold">Discription</p>
                        </div>
                        <div class="form-group row">
                            <textarea name="discription" id="" cols="30" rows="10" class="form-control">{{product.discription}}</textarea required>
                    </div>

                </div>
            </div>
        </div>
    </section>
    </form>
</section>

<script>


</script>