
<section class="products d-flex mt-2" style="width: 100%; overflow:hidden;">
    <div class="category-list p-3" style="width: 100%;">
        <div class="header d-flex justify-content-between">  
          <h3 class="mb-4">Products</h3>
          <a href="/admin/products/new-product" class="btn btn-primary" style="height:40px;">New Product</a>
        </div>
        <div class="table-container" >
        <table id="example" class="table table-striped" style="width:100%; overflow:hidden;">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Stock</th>
                    <th>Status</th>
                    {{!-- <th>Actual Price</th> --}}
                    <th>Selling Price</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td><img src="/Images/Products/{{this.primary_img.filename}}" alt="" style="width:50px;"></td>
                    <td style="max-width:150px;">{{this.product_name}}</td>
                    <td>{{this.brand_name}}</td>
                    <td>{{this.category.cat_name}}</td>
                    <td>{{this.stock}}</td>
                    <td>
                         {{#if this.product_status}}
                        <span>List</span>
                        {{else}}
                        <span>Unlist</span>
                        {{/if}}
                    </td>
                    {{!-- <td>{{this.prod_price}}</td> --}}
                    <td>{{this.sellig_price}}</td>
                    <td>
                        <a href="/admin/products/edit-product/{{this._id}}" class="ms-3"><i class="fa-solid fa-pen"></i></a>
                        <a  onclick="deleteProduct('{{this._id}}')" class="text-danger ms-2"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="table-container" >
    </div>
</section>
<script>
    $(document).ready(function () {
        new DataTable('#example');
    })

</script>