<section class="products d-flex mt-2" style="width: 100%;">
    <div class="category-list p-4" style="width: 100%;">
        <div class="header d-flex justify-content-between">  
          <h3 class="mb-4">Customers</h3>
        </div>
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Status</th>
                     <th>Created At</th>
                    <th>Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each userList}}
                <tr>
                    <td>{{this.user_name}}</td>
                    <td style="max-width:150px;">{{this.user_email}}</td>
                    <td>{{this.user_mobile}}</td>
                    <td>{{#if this.user_status}} <span class="text-success">Active</span> {{else}} <span class="text-danger">Block</span> {{/if}}</td>
                    <td style="max-width:100px;">{{this.createdAt}}</td>
                    <td>
                       {{#if this.user_status}}
                        <a href="/admin/customers/block-customer/{{this._id}}" onclick="return confirm('are you sure, you want to block')" class="ms-3 btn btn-danger">Block</a>
                       {{else}}
                        <a href="/admin/customers/unblock-customer/{{this._id}}" onclick="return confirm('are you sure, you want to unblock')" class="ms-3 btn btn-success">Unblock</a>
                       {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</section>
<script>
    $(document).ready(function () {
        new DataTable('#example');
    })

</script>