<style>
    @media (min-width: 1025px) {
        .h-custom {
            height: 100vh !important;
        }
    }

    .order-summary-inp {
        border: none;
    }

    .order-summary-inp:focus {
        border: none;
        outline: none;
    }
</style>
<section class="my-cart" style="background-color: #eee;">
    <div class="container pb-5 pt-4 h-100">
        <h3>My Cart</h3>
        <div class="row d-flex justify-content-center mt-4 align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body cart-body p-4">

                        <div class="row">

                            <div class="col-lg-7">
                                <h5 class="mb-3"><a href="/" class="text-body"><i
                                            class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a></h5>
                                <hr>

                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-0">You have {{cartList.length}} items in your cart</p>
                                    </div>
                                    <div>
                                        <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!"
                                                class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>
                                    </div>
                                </div>
                                {{#each cartList}}
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <div>
                                                    <img src="/Images/Products/{{this.prod_detail.primary_img.filename}}"
                                                        class="img-fluid rounded-3" alt="Shopping item"
                                                        style="width: 65px;">
                                                </div>
                                                <div class="ms-3">
                                                    <a href="/view-product/{{this.prod_detail._id}}"
                                                        class="txt-decoration-null text-dark">
                                                        <h5>{{this.prod_detail.product_name}}{{this.prod_highlight}}
                                                        </h5>
                                                    </a>
                                                    <p class="small mb-0"></p>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center ms-2">
                                                <div style="width: 80px;">
                                                    <h5 class="mb-0">₹{{this.prod_detail.sellig_price}}</h5>
                                                </div>
                                                <input type="hidden" value="{{this.prod_detail.stock}}"
                                                    id="stock-{{this.prod_detail._id}}" name="stock">
                                                <div class="out-of-stock-err text-danger"></div>
                                                <i class="fas fa-trash-alt text-muted"
                                                    onclick="removeCart('{{this.cart.product_id}}')"></i>
                                            </div>
                                        </div>
                                    </div>
                                    {{#if this.outOfStock}}
                                    <h5 class="text-danger ms-2" id="out-of-stock-{{this.prod_detail._id}}">Out of Stock
                                    </h5>
                                    {{/if}}
                                    <div class="d-flex flex-row align-items-center ms-2 pt-4">
                                        <div class="d-flex mb-4" style="max-width: 200px">
                                            <button class="btn btn-primary px-3 me-2 blue-clr"
                                                onclick="decreaseQty('{{this.cart.product_id}}')">
                                                <i class="fas fa-minus"></i>
                                            </button>

                                            <div class="form-outline">
                                                <input id="prod-{{this.cart.product_id}}" min="0" name="quantity"
                                                    value="{{this.cart.count}}" type="number" class="form-control" />
                                                <input type="hidden" id="price-{{this.cart.product_id}}"
                                                    value="{{this.prod_detail.sellig_price}}">
                                            </div>

                                            <button class="btn btn-primary blue-clr px-3 ms-2"
                                                onclick="increaseQty('{{this.cart.product_id}}')">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                            <div class="col-lg-5 mt-5">

                                <div class="card price-details rounded-3">

                                    <div class="card-body p-3 ">
                                        <h5 class="mb-3">Price Details</h5>
                                        <div class="card order-summary p-3">
                                            <h6>Order Summary</h6>
                                            <hr>
                                            <div class="item-list row">
                                                {{#each cartList}}
                                                <p class="col-9">{{this.prod_detail.product_name}}</p>
                                                <input type="text" class="col-3 item-price"
                                                    id="price{{this.cart.product_id}}" name="price"
                                                    value="{{this.price}}" style="border: none;" readonly>
                                                {{/each}}
                                            </div>
                                            <hr>
                                            <div class="frm-grp">
                                                <label for="">Cart Total: ₹</label><input type="text"
                                                    class="order-summary-inp" id="cart_total" readonly value="0.00">
                                            </div>
                                            <hr>
                                            <a class="btn btn-primary checkout-link" onclick="getCheckout(event)"
                                                href="/order/get-checkout">Go to Checkout</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<script>
    // Get all elements with the "item-price" class
    const itemPriceElements = document.querySelectorAll('.item-price');

    // Function to calculate and update the total price
    function updateTotalPrice() {
        let totalPrice = 0;
        itemPriceElements.forEach(itemPriceElement => {
            const price = parseFloat(itemPriceElement.value);
            if (!isNaN(price)) {
                totalPrice += price;
            }
        });

        // Update the total price element
        const totalPriceElement = document.getElementById('cart_total');
        if (totalPriceElement) {
            totalPriceElement.value = totalPrice.toFixed(2);
        }
    }

    // Call the function initially to calculate the total price
    updateTotalPrice();
</script>