<style>
    .group {
        display: flex;
        line-height: 28px;
        align-items: center;
        position: relative;
        max-width: 500px;
    }

    .input {
        width: 100%;
        height: 40px;
        line-height: 28px;
        padding: 0 1rem;
        padding-left: 2.5rem;
        border: 2px solid transparent;
        border-radius: 8px;
        outline: none;
        background-color: #f3f3f4;
        color: #0d0c22;
        transition: .3s ease;
    }

    .input::placeholder {
        color: #9e9ea7;
    }

    .input:focus,
    input:hover {
        outline: none;
        border-color: rgba(234, 76, 137, 0.4);
        background-color: #fff;
        box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
    }

    .icon {
        position: absolute;
        left: 1rem;
        fill: #9e9ea7;
        width: 1rem;
        height: 1rem;
    }

    .order-summary-inp {
        border: none;
    }

    .order-summary-inp:focus {
        border: none;
        outline: none;
    }

    .checkout-page {
        position: relative;
    }

    .coupon-select-wrapper {
        position: absolute;
        top: 0;
        right: 0;

    }
</style>

<div class="checkout-page pt-5 px-3">
    <h3>Checkout</h3>

    <div class="new-address-wrapper p-3 ">
        <h5>New Address</h5>
        <form class="row" id="new-address-form">
            <div class="form-group col-sm-6 mt-4">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" placeholder="eg.Amarnath" name="user_name">
            </div>
            <div class="form-group col-sm-6 mt-4">
                <label for="" class="form-label">10 digit Mobile Number</label>
                <input type="text" class="form-control" placeholder="eg.9562052835" name="phone">
            </div>

            <div class="form-group col-sm-6 mt-4">
                <label for="" class="form-label">Pincode</label>
                <input type="number" class="form-control" placeholder="eg.673506" name="pincode">
            </div>
            <div class="form-group col-sm-6 mt-4">
                <label for="" class="form-label">Locality</label>
                <input type="text" class="form-control" placeholder="your near locality" name="locality">
            </div>

            <div class="form-group col-sm-6 mt-4">
                <label for="" class="form-label">Area/Street</label>
                <input type="text" class="form-control" placeholder="Enter your area or street name" name="area_street">
            </div>
            <div class="form-group col-sm-6 mt-4">
                <label for="" class="form-label">Town</label>
                <input type="text" class="form-control" placeholder="Enter your town name" name="town">
            </div>

            <div class="form-group col-sm-6 mt-4">
                <label for="" class="form-label">State</label>
                <select name="state" id="" class="form-select">
                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                    <option value="Assam">Assam</option>
                    <option value="Bihar">Bihar</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="Haryana">Haryana</option>
                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                    <option value="Jharkhand">Jharkhand</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Manipur">Manipur</option>
                    <option value="Meghalaya">Meghalaya</option>
                    <option value="Mizoram">Mizoram</option>
                    <option value="Nagaland">Nagaland</option>
                    <option value="Odisha">Odisha</option>
                    <option value="Punjab">Punjab</option>
                    <option value="Rajasthan">Rajasthan</option>
                    <option value="Sikkim">Sikkim</option>
                    <option value="Tamil Nadu">Tamil Nadu</option>
                    <option value="Telangana">Telangana</option>
                    <option value="Tripura">Tripura</option>
                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                    <option value="Uttarakhand">Uttarakhand</option>
                    <option value="West Bengal">West Bengal</option>
                </select>
            </div>
            <div class="form-group col-sm-6 mt-4">
                <label for="" class="form-label">Alternate phone number</label>
                <input type="text" class="form-control" placeholder="eg.9562052835" name="alternate_phone">
            </div>

            <div class="form-group col-sm-6 mt-4">
                <label for="" class="form-label">Address type</label><br>
                <label for="" class="form-label">Home</label>
                <input type="radio" class="form-check-input" value="Home" name="address_type" checked="checked">
                <label for="" class="form-label ms-3">Work</label>
                <input type="radio" class="form-check-input" value="Work" name="address_type">
            </div>
            <div class="form-group col-sm-6 mt-4">
                <label for="" class="form-label">Landmark</label>
                <input type="text" class="form-control" placeholder="Enter your landmark" name="landmark">
            </div>

            <div class="btn-handler pt-5">
                <button class="btn btn-danger" id="address-cancel-btn" type="button">Cancel</button>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="checkout-container row py-3">
        <div class="left-section col-md-8 mt-3">
            <h5 class="reselect-address">Select delivery address <i class="fa-solid fa-chevron-down down-arraow"
                    style="display:none;"></i></h5>
            {{!-- address section --}}
            <div class="address-section">
                <div class="new-address card mb-3">
                    <div class="new-address-btn p-3" id="new-address-btn">
                        <h5 align="center" class="m-0 c-pointer"><i class="fa-solid fa-plus"></i>Add New Address
                        </h5>
                    </div>
                </div>

                <div class="address-err text-danger"></div>
                {{#each address}}
                <input type="radio" name="delivery_address" value="{{this._id}}">
                <div class="address-card{{this._id}} card p-3 mb-3">
                    <div class="address-title d-flex justify-content-between">
                        <div class="type bg-light px-2 border mb-3" style="width:fit-content;">{{this.address_type}}
                        </div>
                        <div class="right-option">
                            <i class="fa-solid fa-pen-to-square edit-address-btn"
                                onclick="editAddress('{{this._id}}')"></i>
                        </div>
                    </div>
                    <div class="container d-flex">
                        <h5 class="">{{this.user_name}}</h5>
                        <p class=" ms-2">{{this.phone}}</p>
                    </div>

                    <div class="container d-flex">
                        <p class="">{{this.area_street}}, Near to {{this.landmark}}, {{this.locality}},
                            {{this.town}}, {{this.state}}, {{this.pincode}}</p><br>
                    </div>
                </div>
                <div class="address-edit-card{{this._id}} card p-3 mb-3" id="address-edit-card">
                    <form class="row" id="edit-address-form-{{this._id}}">
                        <div class="form-group col-sm-6 mt-4">
                            <label for="" class="form-label">Name</label>
                            <input type="text" class="form-control" placeholder="eg.Amarnath" value="{{this.user_name}}"
                                name="user_name">
                        </div>
                        <div class="form-group col-sm-6 mt-4">
                            <label for="" class="form-label">10 digit Mobile Number</label>
                            <input type="text" class="form-control" placeholder="eg.9562052835" value="{{this.phone}}"
                                name="phone">
                        </div>

                        <div class="form-group col-sm-6 mt-4">
                            <label for="" class="form-label">Pincode</label>
                            <input type="number" class="form-control" placeholder="eg.673506" value="{{this.pincode}}"
                                name="pincode">
                        </div>
                        <div class="form-group col-sm-6 mt-4">
                            <label for="" class="form-label">Locality</label>
                            <input type="text" class="form-control" placeholder="your near locality"
                                value="{{this.locality}}" name="locality">
                        </div>

                        <div class="form-group col-sm-6 mt-4">
                            <label for="" class="form-label">Area/Street</label>
                            <input type="text" class="form-control" placeholder="Enter your area or street name"
                                value="{{this.area_street}}" name="area_street">
                        </div>
                        <div class="form-group col-sm-6 mt-4">
                            <label for="" class="form-label">Town</label>
                            <input type="text" class="form-control" placeholder="Enter your town name"
                                value="{{this.town}}" name="town">
                        </div>

                        <div class="form-group col-sm-6 mt-4">
                            <label for="" class="form-label">State</label>
                            <select name="state" id="" class="form-select">
                                <option value="{{this.state}}" selected>{{this.state}}</option>
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Odisha">Odisha</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Uttarakhand">Uttarakhand</option>
                                <option value="West Bengal">West Bengal</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6 mt-4">
                            <label for="" class="form-label">Alternate phone number</label>
                            <input type="text" class="form-control" placeholder="eg.9562052835"
                                value="{{this.alternate_phone}}" name="alternate_phone">
                        </div>

                        <div class="form-group col-sm-6 mt-4">
                            <label for="" class="form-label">Address type</label><br>
                            <label for="" class="form-label">Home</label>
                            <input type="radio" class="form-check-input home-type" value="Home" name="address_type"
                                id="home-type">
                            <label for="" class="form-label ms-3">Work</label>
                            <input type="radio" class="form-check-input work-type" value="Work" name="address_type"
                                id="work-type">
                        </div>
                        <input type="hidden" id="address-type{{this._id}}" value="{{this.address_type}}">
                        <div class="form-group col-sm-6 mt-4">
                            <label for="" class="form-label">Landmark</label>
                            <input type="text" class="form-control" value="{{this.landmark}}"
                                placeholder="Enter your landmark" name="landmark">
                        </div>
                        <input type="hidden" id="address-id" value="{{this._id}}">
                        <div class="btn-handler pt-5">
                            <button class="btn btn-danger edit-address-cancel"
                                onclick="closeEditAddress('{{this._id}}')" type="button">Cancel</button>
                            <button class="btn btn-primary" type="button" onclick="submitEdit('{{this._id}}')"
                                type="button">Submit</button>
                        </div>
                    </form>
                </div>
                {{/each}}

                <button class="btn btn-primary address-select-btn" type="button">Continue</button>
            </div>
            {{!-- payment option --}}

            <div class="payment-option p-3 card " style="display: none">
                <h5>Payment Option</h5>
                <div class="payment-err text-danger"></div>
                <div class="form-group mt-3">
                    <input type="radio" value="COD" class="form-check-input" name="payment_option">
                    <label for="">Cash on Delivery</label>

                </div>

                {{#lessThanEquals cartList.total userData.user_wallet}}
                <div class="form-group ghub-balance">
                    <input type="radio" class="form-check-input" value="GHUBWALLET" name="payment_option">
                    <label for="">GHub Wallet (₹{{userData.user_wallet}})</label>
                </div>
                {{/lessThanEquals}}
                <div class="form-group">
                    <input type="radio" class="form-check-input" value="ONLINE" name="payment_option">
                    <label for="">Online Payment</label>

                </div>
                {{#if cartList}}
                {{#each cartList}}
                <input type="hidden" value="{{this.prod_detail._id}}" id="single-product">
                {{/each}}
                {{/if}}
                <!----proceed to order script in userOrderScript-------->
                <button class="proceed-to-order btn btn-primary mt-3 mb-1">
                    Order Now
                </button>
            </div>


        </div>


        <!-------------------------right section------------------------->
        <div class="right-section col-md-3">
            <!------------------order summary----------------->
            <div class="card order-summary p-3 mt-5">
                <h6>Order Summary</h6>
                <!--apply coupon-->
                <div class="card check-coupon p-3 mb-3">
                    <h6 class="mb-3">Apply Coupon</h6>
                    <!---------click event call in userPoduct.js ---------->
                    <a class="d-flex align-items-center txt-decoration-null text-dark justify-content-around"
                        id="check-coupon">
                        <div class="check-left-sec d-flex align-items-center">
                            <img src="https://drive.google.com/uc?id=1ebkzjTBay3zCtBF1JxrPojYOLclODShJ" alt=""
                                width="50">
                            <h4 class="m-0 ms-3">Check for coupons</h4>
                        </div>
                        <i class="fa-solid fa-angle-right fs-5"></i>
                    </a>
                </div>
                <!----apply coupon end--->
                <hr>
                <div class="item-list row">
                    {{#each cartList}}
                    <p class="col-9">{{this.prod_detail.product_name}}{{this.prod_highlight}}</p>
                    <input type="text" class="col-3 item-price" name="price" value="{{this.price}}"
                        style="border: none;" readonly>
                    {{/each}}
                </div>
                <hr>
                <p id="prodct-price" class="col-12">Product Price: ₹{{cartList.total}}</p>
                <input type="hidden" id="cart-total-price" value="{{cartList.total}}"> <!--total price of the cart--->
                <div class="disc-grp row" style="display:none;">
                    <label for="" class="col-5 p-0 ms-2">Coupon Discount: ₹</label><input type="text"
                        class="order-summary-inp col-6 p-0" id="coupon-disc" readonly>
                    <input type="hidden" id="coupon-id">
                </div>
                <div class="d-flex align-items-center">
                    <p class="text-nowrap m-0">Total: ₹</p><input id="total_price" type="text"
                        value="{{cartList.total}}" class="form-control-plaintext" readonly>
                </div>
            </div>
            <!-----------------order summary end---------->
        </div>
    </div>

    <!------------coupon selector---------------->
    <div class="coupon-select-wrapper shadow-lg card p-3 col-md-6" style="display: none;">
        <div class="d-flex justify-content-between">
            <h3>Offers</h3>
            <i class="fa-solid fa-xmark fs-4 close-cpn"></i>
        </div>
        <div class="group">
            <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                <g>
                    <path
                        d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                    </path>
                </g>
            </svg>
            <input placeholder="Search" type="search" id="search-cpn" class="input">
            <button class="btn btn-primary ms-4 px-4 search-btn">Apply</button>
        </div>
        {{#each coupon}}
        <div class="card p-3 mt-3">
            <div class="d-flex justify-content-between">
                <div class="card px-4 py-1 bg-warning mb-3" style="width:fit-content;">
                    {{this.coupon_code}}</div>
                <a onclick="applyCpn(event,'{{this._id}}','{{this.discount}}')"
                    class="txt-decoration-null apply-cpn{{this._id}}">Apply</a>
                <a onclick="removeCpn(event,'{{this._id}}')"
                    class="txt-decoration-null text-danger remove-cpn{{this._id}}" style="display:none;">Remove</a>
            </div>
            <p class="disc">You can save <span class="text-success">{{this.discount}}%</span></p>
            {{this.discription}}
            <p class=""><span class="fw-bold">Valid till :</span>{{this.exp_date}}</p>
        </div>
        {{/each}}
    </div>
    <!----------coupon------------>
</div>