<div class="filter-product-list row bg-light p-3 mt-2" style="width:100vw;">
    <div class="filter-wraper col-md-3">

    </div>
    <div class="product-wraper col-md-9 card bg-white">
        <p class="m-0 mt-2 p-0">Sort: <span class="mx-4">Price- Low to High</span> <span class="me-4">Price- High to
                Low</span> <span class="me-4">Newest First</span></p>
        <hr>
        {{#each products}}
        <a href="/view-product/{{this._id}}" class="txt-decoration-null text-dark">
        <div class=" mb-4 d-flex">
            <div class="img">
                <img src="/Images/Products/{{primary_img.filename}}" style="width: 200px;" alt="">
                <i class="fa-regular fa-heart add-to-wish-list-btn mt-2"
                    onclick="addToWishlist(event ,'{{this._id}}')"></i>
            </div>
            <div class="details py-2 ms-2">
                <h4>{{this.product_name}} {{this.prod_highlight}}</h4>
                <h6>{{this.brand_name}}, {{this.prod_color}}</h6>
                <span class="bg-success py-1 px-3 rounded text-white">4.4</span>
                <div class="d-flex align-items-center">
                    <h4 class="mt-2">₹{{this.sellig_price}} </h4><strike class="text-muted ms-3"><p class="m-0">₹{{this.prod_price}}</p></strike>
                </div>
            </div>

        </div>
        </a>
        {{/each}}
    </div>
</div>