<!-- content -->
<style>
  .reviews::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge add Firefox */
  .reviews {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Firefox */
  }

  :root {
    background: #fff;
  }

  span#procent {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px;
    transform: translate(-50%, -50%);
    color: #03860e;
  }

  .canvas-wrap {
    position: relative;
    width: 300px;
    height: 300px;
  }
</style>
<section class="py-5 product-view-top">
  <div class="container">
    <div class="row p-0 m-0">
      <aside class="col-lg-6 d-flex flex-column align-items-center p-0">
        <div class="border rounded-4 mb-3 image-container" id="image-container">
          <img src="/Images/Products/{{product.primary_img.filename}}" alt="" id="primary-img-view">
          {{#if userData}}
          {{#isWishlist product._id userData.wishlist}}
          <i class="fa-solid fa-heart text-danger add-to-wish-list-btn mt-2"
            onclick="addToWishlist(event ,'{{product._id}}')"></i>
          {{else}}
          <i class="fa-regular fa-heart add-to-wish-list-btn mt-2"
            onclick="addToWishlist(event ,'{{product._id}}')"></i>
          {{/isWishlist}}
          {{/if}}
          <i class="fa-solid fa-heart text-danger add-to-wish-list-btn mt-2" id="add-wish"
            onclick="addToWishlist(event ,'{{product._id}}')" style="display: none;"></i>
          <i class="fa-regular fa-heart add-to-wish-list-btn mt-2" id="remove-wish"
            onclick="addToWishlist(event ,'{{product._id}}')" style="display: none;"></i>

        </div>
        <div class="secondary-img-container d-flex align-items-center">
          <i class="fa-solid fa-chevron-left left-img-scroll"></i>
          <div class="d-flex justify-content-center mb-3 sec-img-wrapper">
            {{#each product.secondary_img}}
            <div class="card me-3 d-flex justify-content-center align-items-center" style="min-width:100px;">
              <img style="max-height: 100px; max-width:min-content;" class="rounded-2"
                src="/Images/Products/{{this.filename}}" id="{{this._id}}" onclick="setImgView('{{this._id}}')" />
            </div>
            {{/each}}
          </div>
          <i class="fa-solid fa-chevron-right right-img-scroll"></i>
        </div>
        <!-- thumbs-wrap.// -->
        <!-- gallery-wrap .end// -->
      </aside>
      <main class="col-lg-6 p-0 ps-3">
        <div class="ps-lg-3">
          <h4 class="title text-dark">
            {{product.product_name}}
          </h4>
          <div class="d-flex flex-row my-3">
            {{!-- <div class="text-warning mb-1 me-2">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span class="ms-1">
                4.5
              </span>
            </div> --}}
            <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>{{product.stock}} items</span>
            <span class="text-success ms-2">In stock</span>
          </div>

          <div class="mb-3">
            <span class="h5"></span>
            <span class="text-muted"></span>
          </div>

          <div class="row pt-3">
            <dt class="col-3">Brand</dt>
            <dd class="col-9">{{product.brand_name}}</dd>
          </div>
          <div class="row pb-3">
            <dt class="col-3">Color</dt>
            <dd class="col-9">{{product.prod_color}}</dd>
          </div>
          <div class="">
            <p id="prod-disc" class="mb-0" style="height:100px;overflow:hidden;">
              {{product.discription}}
            </p>
            <span id="show-more">...Show More</span>
            <span id="show-less" style="display:none;">...Show Less</span>
          </div>
          <div class="row pt-3">
            <h3 class="col-3 col-md-2 text-danger">₹{{product.sellig_price}}</h3>
            <h4 class="col-9 col-md-10 mt-1 text-secondary"><strike>₹{{product.prod_price}}</strike></h4>
          </div>

          <hr />
          {{#isEqual product.stock 0}}
          <h2 class="my-3 text-danger">Out of stock</h2>
          {{else}}
          <a href="/order/get-checkout?product={{product._id}}" class="btn btn-warning shadow-0"> Buy now </a>
          <a class="btn btn-primary shadow-0" onclick="addToCart(event,'{{product._id}}')"> <i
              class="me-1 fa fa-shopping-basket"></i> Add to cart </a>
          {{/isEqual}}
        </div>
      </main>
    </div>
  </div>
</section>
<!-- content -->

<section class="bg-light border-top py-4">
  <div class="container">
    <div class="row gx-4">
      <div class="col-lg-8 mb-4">
        <div class="border rounded-2 px-3 mb-3 py-2 bg-white">
          <!-- Pills navs -->
          <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
            <li class="nav-item d-flex" role="presentation">
              <a class="nav-link d-flex align-items-center justify-content-center w-100 bg-light" id="ex1-tab-1"
                data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1"
                aria-selected="true">Specification</a>
            </li>
          </ul>
          <!-- Pills navs -->

          <!-- Pills content -->
          <div class="tab-content" id="ex1-content">
            <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
              <table class="table border mt-3 mb-2">
                {{#each product.specification}}
                <tr>
                  <th class="py-2">{{this.spec}}:</th>
                  <td class="py-2">{{this.val}}</td>
                </tr>
                {{/each}}
              </table>
            </div>
          </div>
          <!-- Pills content -->
        </div>
        <div class="card p-3">
          <h4>Rating</h4>
          <input type="hidden" value="{{ratingPerc}}" id="rating-perc">
          <div class="rating d-flex align-items-center row" style="width:100%;">
            <div class="canvas-wrap col-sm-7">
              <canvas id="canvas" width="300" height="300"></canvas>
              <span id="procent">{{this.rating}}<i class="fa-regular fa-star"></i></span>
            </div>
            <div class="d-flex flex-column align-items-center col-sm-5">
              <h4>Total Rating</h4>
              <h1>{{reviews.length}}</h1>
            </div>
          </div>
          <h4>Reviews</h4>
          <div class="reviews p-2" style="max-height: 600px; overflow-y:scroll;">
            <div class="card p-3">
              {{#each reviews}}
              <div class="">
                <div style="width: min-content;"
                  class="bg-success text-white px-2 mb-2 py-1 rounded d-flex align-items-center justify-content-center">
                  {{this.rating}}<i class="fa-regular fa-star"></i></div>
                <p>{{this.review}}</p>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="px-0 border rounded-2 shadow-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Similar items</h5>
              {{#each rel_product}}
              <div class="d-flex">
                <a href="/view-product/{{this._id}}" class="me-3"><img
                    src="/Images/Products/{{this.primary_img.filename}}" style="min-width: 96px; height: 96px;"
                    class="img-md img-thumbnail" />
                </a>
                <div class="info">
                  <a href="/view-product/{{this._id}}" class="nav-link mb-1">{{this.product_name}} <br>
                    <strong class="text-dark">₹{{this.sellig_price}}</strong>
                  </a>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>

  let zoom_area = document.getElementById('image-container')
  let zoom_img = document.getElementById('primary-img-view');
  zoom_area.addEventListener('mousemove', (event) => {
    clientX = event.clientX - zoom_area.offsetLeft
    clientY = event.clientY - zoom_area.offsetTop

    mWidth = zoom_area.offsetWidth
    mHeight = zoom_area.offsetHeight

    clientX = clientX / mWidth * 100
    clientY = clientY / mHeight * 100

    zoom_img.style.transform = 'translate(-' + clientX + '%,-' + clientY + '%) scale(2)'
  })
  zoom_area.addEventListener('mouseleave', () => {
    console.log("zoom_out")

    zoom_img.style.transform = 'translate(-50%,-50%) scale(1)'
  })
</script>
<script>
  $(() => {
    window.onload = function () {
      let can = document.getElementById('canvas');
      //spanProcent = document.getElementById('procent'),
      c = can.getContext('2d');

      let posX = can.width / 2,
        posY = can.height / 2,
        fps = 1000 / 200,
        procent = 0,
        oneProcent = 360 / 100,
        result = oneProcent * $('#rating-perc').val();

      c.lineCap = 'round';
      arcMove();

      function arcMove() {
        let deegres = 0;
        let acrInterval = setInterval(function () {
          deegres += 1;
          c.clearRect(0, 0, can.width, can.height);
          procent = deegres / oneProcent;

          // spanProcent.innerHTML = procent.toFixed();

          c.beginPath();
          c.arc(posX, posY, 70, (Math.PI / 180) * 270, (Math.PI / 180) * (270 + 360));
          c.strokeStyle = '#b1b1b1';
          c.lineWidth = '10';
          c.stroke();

          c.beginPath();
          c.strokeStyle = '#03860e';
          c.lineWidth = '10';
          c.arc(posX, posY, 70, (Math.PI / 180) * 270, (Math.PI / 180) * (270 + deegres));
          c.stroke();
          if (deegres >= result) clearInterval(acrInterval);
        }, fps);

      }


    }
  })
</script>