<div class="filter-product-list row bg-light m-0 p-0 p-3 mt-2" style="width:100%;">
    <div class="filter-wraper col-md-2" style="height: fit-content; position: sticky;top: 100px;">
        <div class="card p-3">
            <h4 class="mb-3">Filter</h4>
            <a href="/products" class="txt-decoration-null text-dark">All Products</a>
            <a href="/products/filter?" id="filter-link"></a>
            <hr>
            <h5>Category</h5>
            {{#each category}}
            <div class="wraper d-flex mb-2">
                <input type="checkbox" id="category={{this.cat_name}}" class="filter-key"
                    value="category={{this.cat_name}}"><label for="" class="ms-2">{{this.cat_name}}</label>
            </div>
            {{/each}}
            <hr>
            <h5>Brands</h5>
            {{#each brands}}
            <div class="wraper d-flex mb-2">
                <input type="checkbox" id="brand={{this._id}}" class="filter-key" value="brand={{this._id}}"><label
                    for="" class="ms-2">{{this._id}}</label>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="product-wraper col-md-10 card bg-white">
        <p class="m-0 mt-2 p-0">
            Sort: <a class="mx-4 txt-decoration-null c-pointer" onclick="sortProd('low-to-high')">Price- Low to
                High</a>
            <a class="mx-4 txt-decoration-null c-pointer" onclick="sortProd('high-to-low')">Price- High to Low</a>
            <a class="mx-4 txt-decoration-null c-pointer" onclick="sortProd('newest-first')">Newest First</a>
        </p>
        <hr>
        <div id="carouselExampleControls" class="carousel slide mb-4" data-bs-ride="carousel">
            <div class="carousel-inner">
                {{#each banners}}
                <a href="{{this.reference}}">
                    <div class="carousel-item active">
                        <img src="/Images/Banners/{{this.image.filename}}" class="d-block w-100" alt="...">
                    </div>
                </a>
                {{/each}}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        {{#each products}}
        <a href="/view-product/{{this._id}}" class="txt-decoration-null text-dark">
            <div class=" mb-4 d-flex">
                {{#if ../userData}}
                {{#isWishlist this._id ../userData.wishlist}}
                <i class="fa-solid fa-heart text-danger add-to-wish-list-btn mt-2 icon{{this._id}}"
                    onclick="WishlistAdd(event ,'{{this._id}}')"></i>
                {{else}}
                <i class="fa-regular fa-heart add-to-wish-list-btn mt-2 icon{{this._id}}"
                    onclick="WishlistAdd(event ,'{{this._id}}')"></i>
                {{/isWishlist}}
                {{/if}}
                <i class="fa-solid fa-heart text-danger add-to-wish-list-btn mt-2" id="add-wish-{{this._id}}"
                    onclick="WishlistAdd(event ,'{{this._id}}')" style="display: none;"></i>
                <i class="fa-regular fa-heart add-to-wish-list-btn mt-2" id="remove-wish-{{this._id}}"
                    onclick="WishlistAdd(event ,'{{this._id}}')" style="display: none;"></i>

                <div class="row" style="width: 100%;">
                    <div class="img col-12 col-sm-2">
                        <img src="/Images/Products/{{primary_img.filename}}" style="width: 200px; height:auto;" alt="">
                    </div>
                    <div class="details py-2 ms-2 col-12 col-sm-8">
                        <h4>{{this.product_name}} {{this.prod_highlight}}</h4>
                        <h6>{{this.brand_name}}, {{this.prod_color}}</h6>
                        <span class="bg-success py-1 px-3 rounded text-white">4.4</span>
                        <div class="d-flex align-items-center">
                            <h4 class="mt-2">₹{{this.sellig_price}} </h4><strike class="text-muted ms-3">
                                <p class="m-0">₹{{this.prod_price}}</p>
                            </strike>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <hr>
        {{/each}}
        <div class="pagination d-flex justify-content-end">
            <table class="table table-bordered p-0" style="width: min-content;">
                <tr>
                    <td><i class="fa-solid fa-angles-left" onclick="pagination('{{subtract limitKey 1}}')"></i></td>
                    {{#each page}}
                    {{#isEqual ../limitKey this}}
                    <td class="px-3 bg-primary text-white">{{add this 1}}</td>
                    {{else}}
                    <td class="px-3" onclick="pagination('{{this}}')">{{add this 1}}</td>
                    {{/isEqual}}
                    {{/each}}
                    <td><i class="fa-solid fa-angles-right" onclick="pagination('{{add limitKey 1}}')"></i></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    $(() => {
        //assigning initial filtered catgories
        let urlString = window.location.href;
        const url = new URL(urlString);
        const queryParameters = url.searchParams;
        const params = [];
        queryParameters.forEach((value, key) => {
            params.push(key + '=' + value)
            if (key == 'category' || key == 'brand') {
                //$('#'+key+'='+value).attr("checked", true);
                let filter = document.getElementById(key + '=' + value).checked = true;
            }
        });
        console.log(params)

        WishlistAdd = (e, id) => {
            e.preventDefault();
            fetch(`/account/add-to-wishlist/${id}`, {
                method: 'GET'
            }).then((response) => {
                return response.json()
            }).then((data) => {
                if (data.status === 'success') {
                    $('.icon' + id).css("display", "none");
                    if (data.exist) {
                        console.log("exsist")
                        $('#remove-wish-' + id).toggle()
                        if ($('#add-wish-' + id).is(':visible')) {
                            $('#add-wish-' + id).toggle()
                        }
                    } else {
                        console.log("not exsist")
                        $('#add-wish-' + id).toggle()
                        if ($('#remove-wish-' + id).is(':visible')) {
                            $('#remove-wish-' + id).toggle()
                        }
                    }
                }
                if (data.message) {
                    throw new Error(data.message)
                }
            }).catch((error) => {
                Swal.fire(
                    'Failed',
                    error.message,
                    'error'
                )
            })
        }

        //filter
        $('.filter-key').on('click', (e) => {
            let link = window.location.href;
            link = decodeURIComponent(link);
            if (link.includes(e.target.value)) {
                link = link.replace('&' + e.target.value, '').replace(e.target.value, '')

            } else {
                if (link.includes('?', '=')) {
                    link = link + '&' + e.target.value
                } else {
                    link = link + '?' + e.target.value
                }
            }
            location.assign(link)
        })

        //sort product
        sortProd = (sortKey) => {
            let link = window.location.href;
            const url = new URL(link);

            if (url.searchParams.has('sort')) {
                const sortValue = url.searchParams.get("sort");
                console.log(sortValue);
                url.searchParams.delete('sort');
            }

            if (url.search) {
                url.search += `&sort=${sortKey}`;
            } else {
                url.search = `sort=${sortKey}`;
            }

            location.assign(url.toString());
        }

        //pagination
        pagination = (page) => {
            let link = window.location.href;
            const url = new URL(link);

            if (url.searchParams.has('limit')) {
                url.searchParams.delete('limit');
            }

            if (url.search) {
                url.search += `&limit=${page}`;
            } else {
                url.search = `limit=${page}`;
            }

            location.assign(url.toString());

        }

    })

</script>